.error__section {
  position: relative;
}

.error-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}

.error-content {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-top: 250px;
}

.error-content-text {
  width: 90%;
  margin-top: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-grey-4);
}

.error-content a {
  display: block;
}

.error-btn-home {
  margin-top: 60px;
}

.error-number {
  margin-top: 30px;
  padding: 13.8% 4.3%;
  background: var(--color-white);
  border-radius: 4px;
}

.error-number span {
  font-family: "Micradi";
  font-weight: 400;
  font-size: min(max(15.1vw, 220px), 290px);
  line-height: 356px;
  color: var(--color-blue-main);
}

@media (max-width: 1440px) {
  .error-container {
    margin-bottom: 130px;
  }

  .error-content {
    margin-top: 200px;
  }

  .error-content-text {
    margin-top: 40px;
  }

  .error-btn-home {
    margin-top: 50px;
  }

  .error-number {
    margin-top: 50px;
    padding: 15% 7%;
  }

  .error-number span {
    font-size: min(12.5vw, 180px);
    line-height: 221px;
  }
}

@media (max-width: 1029px) {
  .error__section .introduction__substrate {
    display: none;
  }

  .error-container {
    margin-top: 60px;
    margin-bottom: 60px;
    flex-direction: column-reverse;
  }

  .error-number {
    margin-top: 30px;
    padding: 0;
    text-align: center;
    background: transparent;
  }

  .error-content {
    align-items: center;
    margin-top: 100px;
    width: 100%;
  }

  .error-content-title {
    text-align: center;
  }

  .error-content-text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .error-number span {
    font-size: min(28.6vw, 220px);
    line-height: 270px;
  }
}

@media (max-width: 450px) {
  .error-container {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .error-number span {
    font-size: min(30.8vw, 120px);
    line-height: 147px;
  }

  .error-content {
    margin-top: 50px;
  }

  .error-content-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
