.feedback-container {
  padding: 100px 0;
}

.feedback-block-container {
  display: flex;
  width: 100%;
  padding: 20px;
  background: var(--color-white);
  box-shadow: 0px 10px 40px 0px #c7c7c733;
}

.feedback-content {
  position: relative;
  width: 49.8%;
  padding: 50px 60px;
  background: var(--color-blue-main);
  border-radius: 4px;
}

.feedback-content::before {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50%;
  aspect-ratio: 1;
  height: auto;
  content: "";
  background: url("../images/Ellipse.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-content::after {
  position: absolute;
  bottom: 20%;
  right: 25%;
  display: block;
  width: 33%;
  aspect-ratio: 1;
  height: auto;
  content: "";
  background: url("../images/Ellipse_s.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-content-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 78px;
  color: var(--color-white);
  text-transform: uppercase;
}

.feedback-content-text {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: var(--color-blue-4);
}

.feedback-content-contacts {
  margin-top: 72px;
}

.feedback-content-contacts-item {
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
}

.feedback-content-contacts-item,
.feedback-content-contacts-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-white);
  transition: 0.3s;
}

.feedback-content-contacts-item:hover,
.feedback-content-contacts-item:hover a {
  color: var(--color-blue-7);
  transition: 0.3s;
}

.feedback-content-contacts-item svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.feedback-content-contacts-item svg path {
  fill: currentColor;
}

.feedback-content-contacts-address {
  display: flex;
}

.feedback-content-contacts-address span {
  display: block;
}

.feedback-content-socnet-list {
  position: absolute;
  bottom: 50px;
  left: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.feedback-content-socnet-item a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 12.6px;
  border: 1.5px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  transition: 0.3s;
}

.feedback-content-socnet-item:hover a {
  border: 1.5px solid var(--color-blue-7);
  color: var(--color-blue-7);
  transition: 0.3s;
}

.feedback-content-socnet-item svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.feedback-content-socnet-item svg path {
  fill: currentColor;
}

.feedback-form {
  padding: 50px 60px 30px 60px;
}

.feedback-form-contacts:not(:first-child) {
  margin-top: 40px;
}

.feedback-form-contacts-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: var(--color-black);
}

.feedback-form-contacts-container {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.feedback-form .feedback-form-contacts-container input {
  width: 100%;
  height: 100%;
}

.feedback-form .feedback-form-contacts-container input,
.feedback-form-comment {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid var(--color-grey-1);
  background: transparent;
}

.feedback-form-contacts-container .feedback-form-field-wrapper {
  width: 48%;
  height: 60px;
}

.feedback-form-contacts-container input::placeholder,
.feedback-form-comment::placeholder,
.feedback-form-warning,
.feedback-form-agreement-label {
  font-family: "Winston";
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-grey);
}

.feedback-form-agreement-label span {
  cursor: pointer;
}

.feedback-form-comment {
  width: 100%;
  height: 163px;
  resize: none;
}

.feedback-form-warning {
  margin-top: 15px;
  display: block;
}

.feedback-container .feedback-form-submit {
  display: block;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-blue-main);
}

.feedback-form-agreement-field {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.feedback-form-agreement-field + label {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  user-select: none;
}

.feedback-form-agreement-field + label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  content: "";
  border: 1px solid var(--color-grey-2);
  border-radius: 2px;
  background: transparent;
}

.feedback-form-agreement-field + label span svg {
  display: none;
}

.feedback-form-agreement-field:checked + label span {
  border: 1px solid var(--color-blue-main);
}

.feedback-form-agreement-field:checked + label span svg {
  display: block;
  width: 9px;
  height: 6px;
}

@media (max-width: 1440px) {
  .feedback-container {
    padding: 80px 0;
  }

  .feedback-content {
    width: 72%;
    padding: 50px 40px;
  }

  .feedback-content-title {
    font-size: 48px;
    line-height: 59px;
  }

  .feedback-content-contacts {
    margin-top: 83px;
  }

  .feedback-form {
    padding: 50px 20px 30px 40px;
  }
}

@media (max-width: 1261px) {
  .feedback-form-contacts-container .feedback-form-field-wrapper {
    width: 100%;
  }
}

@media (max-width: 1029px) {
  .feedback-section {
    padding: 0;
  }

  .feedback-container {
    padding: 0;
  }

  .feedback-block-container {
    flex-direction: column;
    padding: 60px 20px;
  }

  .feedback-content {
    width: 100%;
  }

  .feedback-content-title {
    font-size: 40px;
    line-height: 49px;
  }

  .feedback-content-text {
    margin-top: 20px;
    font-size: 18px;
  }

  .feedback-content-contacts {
    margin-top: 40px;
  }

  .feedback-content-socnet-list {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 55px;
  }

  .feedback-content-socnet-item a {
    width: 40px;
    height: 40px;
    padding: 9px;
  }

  .feedback-content::before {
    background-position-x: 150px;
  }

  .feedback-content::after {
    bottom: 38%;
    right: 10%;
    width: 27%;
  }

  .feedback-form {
    padding: 20px 0 0;
  }

  .feedback-form-contacts-title {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .feedback-block-container {
    padding: 40px 0;
  }

  .feedback-content {
    padding: 40px 20px;
    border-radius: 0;
  }

  .feedback-content-title {
    font-size: 32px;
    line-height: 39px;
  }

  .feedback-content-contacts-item,
  .feedback-content-contacts-item a {
    font-size: 14px;
    line-height: 19px;
  }

  .feedback-content-socnet-list {
    margin-top: 84px;
  }

  .feedback-content-socnet-item::before {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .feedback-form {
    padding: 20px;
  }

  .feedback-form-contacts-title {
    font-size: 16px;
  }

  .feedback-form-contacts-container .feedback-form-field-wrapper {
    width: 100%;
  }

  .feedback-container .feedback-form-submit {
    font-size: 16px;
  }

  .feedback-content::before,
  .feedback-content::after {
    display: none;
  }
}
