.header-container {
  position: relative;
  width: 100%;
  height: 80px;
}

.header-wrapper-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 19.5px 120px 20.5px 120px;
}

.header-wrapper-inner.static {
  position: static;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.header-logo {
  display: block;
  width: 222px;
  height: 29px;
}

.header-logo svg {
  width: 100%;
  height: 100%;
}

.search__wrapper {
  display: flex;
  width: 53.6%;
  height: 40px;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  background: rgba(255, 255, 255);
}

.search__wrapper:hover {
  background: var(--color-grey-9);
}

.search__img {
  display: block;
  width: 16px;
  height: 16px;
}

.search__img svg {
  display: block;
  width: 100%;
  height: 100%;
}

.search__field {
  width: 100%;
  color: var(--color-grey-4);
}

.search__field,
.search__field:hover,
.search__field:focus {
  border: none;
  outline: none;
  background: transparent;
}

.search__wrapper.filled {
  background: rgba(255, 255, 255, 0.8);
}

.search__wrapper .search__close {
  display: none;
}

.search__wrapper.filled .search__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.header-burger {
  display: none;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 45%;
}

.header-menu.visible {
  position: absolute;
  right: 0;
  z-index: 3;
  width: 900px;
  padding-left: 200px;
  padding-right: 120px;
}

.header-menu_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-menu_link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--color-white);
  transition: 0.3s;
}

.header-menu_item:hover .header-menu_link,
.header-menu_link.active {
  color: var(--color-blue-6);
  transition: 0.3s;
}

.menu-products {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-menu_item.menu-products .header-menu_box span,
.header-container .header-menu_item.menu-products span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-blue-5);
  border-radius: 50%;
  cursor: pointer;
}

.header-menu_item.menu-products .header-menu_box span svg,
.header-container .header-menu_item.menu-products span svg {
  width: 10px;
  height: 5px;
}

.header-menu_item.menu-products .header-menu_box span svg path,
.header-container .header-menu_item.menu-products span svg path {
  fill: var(--color-white);
}

@media (max-width: 1440px) {
  .header-wrapper-inner {
    padding: 21px 80px 22px 80px;
  }

  .header-logo {
    width: 34.7%;
  }

  .search__wrapper {
    width: 50.9%;
  }

  .header-menu.visible {
    width: 680px;
    padding-left: 110px;
    padding-right: 80px;
  }
}

@media (max-width: 1029px) {
  .header-container {
    background: var(--color-white);
  }

  .header-wrapper-inner {
    padding: 20px;
  }

  .header-title {
    width: 49.9%;
    height: 40px;
  }

  .header-logo {
    width: 100%;
    height: auto;
    background-position: left;
  }

  .header-container .search__wrapper {
    display: none;
  }

  .header-container .header-menu {
    display: none;
    background: var(--color-white);
  }

  .header-menu_list {
    position: relative;
    height: 100%;
    padding: 131px 30px 0 30px;
    flex-direction: column;
    justify-content: start;
    background: rgba(246, 246, 246, 1);
  }

  .header-menu_item {
    position: relative;
    z-index: 1;
  }

  .header-menu_item:not(:first-child) {
    margin-top: 25px;
  }

  .header-menu_link {
    font-size: 20px;
    line-height: 24.6px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .menu-products {
    gap: 0;
  }

  .menu-products.expanded {
    gap: 15px;
  }

  .header-burger {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
  }

  .header-burger svg {
    width: 100%;
    height: 100%;
  }

  .header-burger.hidden {
    display: none;
  }
}

@media (max-width: 390px) {
  .header-menu {
    width: 100%;
  }

  .header-title {
    width: 53.4%;
  }

  .header-logo {
    height: 26px;
  }

  .header-burger {
    width: 32px;
    height: 32px;
  }
}
