@import "./header.css";
@import "./introduction.css";
@import "./results.css";
@import "./products.css";
@import "./ideology.css";
@import "./mission.css";
@import "./successes.css";
@import "./news_swiper.css";
@import "./feedback.css";
@import "./footer.css";
@import "./404.css";
@import "./news.css";
@import "./navbar-popup.css";
@import "./company.css";
@import "./one-news.css";
@import "./products-page.css";
@import "./one-product.css";
@import "./contacts.css";
@import "./column.css";
@import "./searching-page.css";

@font-face {
  font-family: "Winston";
  font-weight: 400;
  src: url("../fonts/Winston-Regular.woff2") format("woff2"),
    url("../fonts/Winston-Regular.woff") format("woff");
}

@font-face {
  font-family: "Winston";
  font-weight: 500;
  src: url("../fonts/Winston-Medium.woff2") format("woff2"),
    url("../fonts/Winston-Medium.woff") format("woff");
}

@font-face {
  font-family: "Winston";
  font-weight: 600;
  src: url("../fonts/Winston-SemiBold.woff2") format("woff2"),
    url("../fonts/Winston-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Micradi";
  font-weight: 400;
  src: url("../fonts/micradi.woff2") format("woff2"),
    url("../fonts/micradi.woff") format("woff");
}

:root {
  font-family: "Winston";
  --color-white-main: #f6f6f6;
  --color-white: #fff;
  --color-white-1: rgba(255, 255, 255, 0.8);
  --color-grey: #a0a0a0;
  --color-grey-1: #e8e8e8;
  --color-grey-2: #c9c9c9;
  --color-grey-3: rgba(160, 160, 160, 1);
  --color-grey-4: #616161;
  --color-grey-5: #434343;
  --color-grey-9: #eeeeee;
  --color-blue-main: #002d72;
  --color-blue-light: #9fb9e3;
  --color-blue-1: #5c7baa;
  --color-blue-3: #a2b6d5;
  --color-blue-4: #b9cae3;
  --color-blue-5: #234277;
  --color-blue-6: #456293;
  --color-blue-7: #8ba3c7;
  --color-black: #18191a;
  --color-black-1: #313234;
  --color-black-main: #000;
  /* --color-black-1: #01050b; */
  --color-error: #cf1313;
  --color-white-2: #f6faff;
  --color-white-3: #f6f9ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-white-main);
  font: inherit;
}

body.hidden {
  position: relative;
  overflow: hidden;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Micradi";
  font-weight: 400;
  word-break: break-word;
}

h1 {
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  color: var(--color-blue-main);
}

h2 {
  font-size: min(max(2.9vw, 40px), 55px);
  line-height: min(max(3.5vw, 49px), 67px);
  color: var(--color-black);
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--color-blue-main);
}

h4 {
  font-size: min(max(1.7vw, 28px), 32px);
  line-height: min(max(2.1vw, 34px), 39px);
  color: var(--color-blue-main);
  text-transform: uppercase;
}

h5 {
  font-size: min(max(1.4vw, 20px), 26px);
  line-height: min(max(1.7vw, 24px), 31px);
  text-transform: uppercase;
  color: var(--color-blue-main);
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-grey-4);
  word-wrap: break-word;
}

section {
  padding: 0 120px;
}

.mask {
  position: fixed;
  z-index: 98;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: height 0.5s linear 0.2s, opacity 0.5s linear 0.2s,
    background-color 0.5s linear 0.2s, width 0.5s linear 0.2s;
  transition: height 0.5s linear 0.2s, opacity 0.5s linear 0.2s,
    background-color 0.5s linear 0.2s, width 0.5s linear 0.2s;
}

.mask.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black-1);
  opacity: 0.8;
  pointer-events: auto;
  -webkit-transition: height 0.5s linear 0.4s, opacity 0.5s linear 0.4s,
    background-color 0.5s linear 0.4s, width 0.5s linear 0.4s;
  transition: height 0.5s linear 0.4s, opacity 0.5s linear 0.4s,
    background-color 0.5s linear 0.4s, width 0.5s linear 0.4s;
}

.block-wrapper {
  background: var(--color-white);
}

input,
textarea,
.select__custom {
  font-family: "Winston";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-black);
}

input:invalid,
input:required {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:hover {
  border: 1px solid var(--color-grey-2);
}

input:focus,
textarea:focus {
  outline: 1px solid var(--color-black);
}

.feedback-form input.required-input,
.feedback-form input.required-input:focus,
.feedback-form input.invalid-input,
.feedback-form input.invalid-input:focus {
  border: 1px solid var(--color-error);
}
.feedback-form input.required-input:focus,
.feedback-form input.invalid-input:focus {
  outline: 1px solid var(--color-error);
}

.feedback-form-field-wrapper.required-field::after {
  display: block;
  font-family: "Winston";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-error);
  content: "Обязательное поле";
}

.feedback-form-field-wrapper.invalid-field::after {
  display: block;
  font-family: "Winston";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-error);
  content: "Введите корректный адрес";
}

.select__custom {
  position: relative;
  height: 50px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgba(255, 255, 255);
}

.select__header {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey-4);
}

.current__choose {
  color: var(--color-black);
}

.select__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.select__arrow svg {
  width: 9px;
  height: 5px;
}

.select__arrow svg path {
  fill: var(--color-grey-3);
}

.select__arrow:hover svg path {
  fill: var(--color-blue-main);
}

.select__custom.expanded .select__arrow svg {
  fill: var(--color-blue-main);
  transform: rotate(180deg);
}

.select__custom.expanded .select__arrow svg path {
  fill: var(--color-blue-main);
}

.select__body {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 15px;
  border-radius: 0 0 4px 4px;
  background: rgba(255, 255, 255);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.select__custom.expanded .select__body {
  padding: 0 15px 20px 15px;
  overflow-y: auto;
}

.option__item:not(:first-child) {
  margin-top: 10px;
}

.option__choose {
  color: var(--color-blue-main);
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button.learn-more {
  width: 12rem;
  height: auto;
}

.button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}

.button.learn-more.learn-more-dark .circle {
  background: var(--color-blue-main);
}

.button.learn-more.learn-more-light .circle {
  background: var(--color-white);
}

.button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button.learn-more.learn-more-dark .circle .icon {
  background: var(--color-white);
}

.button.learn-more.learn-more-light .circle .icon {
  background: var(--color-blue-main);
}

.button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(45deg);
}

.button.learn-more.learn-more-dark .circle .icon.arrow::before {
  border-top: 0.125rem solid var(--color-white);
  border-right: 0.125rem solid var(--color-white);
}

.button.learn-more.learn-more-light .circle .icon.arrow::before {
  border-top: 0.125rem solid var(--color-blue-main);
  border-right: 0.125rem solid var(--color-blue-main);
}

.button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  text-align: center;
}

.button.learn-more.learn-more-dark .button-text {
  color: var(--color-blue-main);
}

.button.learn-more.learn-more-light .button-text {
  color: var(--color-white);
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon.arrow {
  transform: translate(1rem, 0);
}

.button.learn-more-dark:hover .circle .icon.arrow {
  background: var(--color-white);
}

.button.learn-more-light:hover .circle .icon.arrow {
  background: var(--color-blue-main);
}

.button:hover .button-text {
}

.button.learn-more-dark:hover .button-text {
  color: var(--color-white);
}

.button.learn-more-light:hover .button-text {
  color: var(--color-blue-main);
}

@media (max-width: 1440px) {
  h1 {
    font-size: 48px;
    line-height: 59px;
  }

  h2 {
    font-size: min(max(2.8vw, 36px), 40px);
    line-height: min(max(3.4vw, 44px), 49px);
  }

  h3 {
    font-size: 23px;
    line-height: 28px;
  }

  h4 {
    font-size: min(max(2vw, 24px), 28px);
    line-height: min(max(2.4vw, 29px), 34px);
  }

  h5 {
    font-size: min(max(1.4vw, 18px), 20px);
    line-height: min(max(1.7vw, 22px), 24px);
  }

  section {
    padding: 0 80px;
  }
}

@media (max-width: 1029px) {
  h1 {
    font-size: 44px;
    line-height: 54px;
  }

  h2 {
    font-size: min(max(4.6vw, 26px), 36px);
    line-height: min(max(5.7vw, 31px), 44px);
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4 {
    font-size: min(max(3.2vw, 20px), 24px);
    line-height: min(max(3.9vw, 24px), 29px);
  }

  section {
    padding: 0 20px;
  }

  span {
    width: 100%;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 7.7vw;
    line-height: 10vw;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}
