.searching__wrapper.column__wrapper {
  display: block;
}

.searching__field_container {
  width: 49.2%;
}

.searching__field_container .search__wrapper {
  width: 100%;
}

.searching__results {
  margin-top: 40px;
}

.searching__results,
.post__content span {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.searching__request {
  margin-left: 5px;
  color: var(--color-blue-main);
}

.searching__number_results {
  margin-top: 20px;
}

.posts__container {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid var(--color-grey-1);
}

.post__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 83.1%;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-grey-1);
}

.post__item:nth-child(n + 2) {
  margin-top: 30px;
}

.post__date,
.post__breadcrumbs {
  width: 18.8%;
}

.post__date {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-black-1);
}

.post__content {
  width: 59.4%;
}

.post__content p {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.post__breadcrumbs .breadcrumbs__item {
  font-size: 16px;
  line-height: 22px;
}

.pagination__section {
  padding-bottom: 150px;
}

.pagination__container {
  width: 83.1%;
  margin-top: 50px;
  justify-content: center;
}

.pagination__container,
.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__button {
  display: block;
  width: 9.8px;
  height: 16px;
  color: var(--color-black-1);
  background: transparent;
  transition: 0.3s;
}

.pagination__button svg {
  display: block;
  width: 100%;
  height: 100%;
}

.pagination__button svg path {
  fill: currentColor;
}

.pagination__button:hover {
  color: var(--color-grey-4);
  transition: 0.3s;
}

.pagination__button.disable {
  color: var(--color-grey-2);
}

.pagination__list {
  gap: 10px;
  margin: 0 30px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-black-1);
}

.pagination__item.active {
  background: var(--color-blue-main);
  color: var(--color-white);
  border-radius: 50%;
}

@media (max-width: 1440px) {
  .searching__field_container {
    width: 53.7%;
  }

  .post__item,
  .pagination__container {
    width: 100%;
  }
}

@media (max-width: 1029px) {
  .searching__field_container {
    margin-top: 24px;
    width: 100%;
  }

  .searching__results {
    margin-top: 30px;
  }

  .searching__results,
  .post__content span {
    font-size: 20px;
    line-height: 27px;
  }

  .searching__number_results {
    margin-top: 15px;
  }

  .posts__container {
    margin-top: 40px;
    padding-top: 40px;
  }

  .post__item {
    flex-direction: column;
  }

  .post__date,
  .post__breadcrumbs,
  .post__content {
    width: 100%;
  }

  .post__content {
    margin-top: 20px;
  }

  .post__content p {
    margin-top: 15px;
  }

  .posts__container .post__breadcrumbs {
    margin-top: 30px;
  }

  .pagination__section {
    padding-bottom: 80px;
  }
}

@media (max-width: 420px) {
  .post__item {
    padding-bottom: 20px;
  }

  .post__item:nth-child(n + 2) {
    margin-top: 20px;
  }

  .post__content p {
    -webkit-line-clamp: 8;
    line-clamp: 8;
  }

  .searching__results,
  .post__content span {
    font-size: 18px;
    line-height: 24px;
  }
  .searching__results {
    margin-top: 30px;
  }

  .pagination__list {
    gap: 0;
    margin: 0 15px;
  }
}

@media (max-width: 340px) {
  .pagination__list {
    gap: 0;
    margin: 0 10px;
  }

  .pagination__item {
    width: 40px;
    height: 40px;
  }
}
